page-list {
      ion-content {
    background-image: url("../assets/imgs/SIALAST.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 330px 550px;
    background-position: 1px 50px;

  }
h5 {
  font-size: 16px;
  text-align: center;
  font-family: Georgia, serif;
  //line-height: 2;

  color: rgb(245, 160, 20);

  background: rgba(0, 0, 0, 0.2);

  margin: 24px;
  padding: 10px;

  line-height: 32px;

  border-radius: 5px;

  //    position: fixed;
  //bottom: 350px;
  //right: 2px;
  //width: 400px;
  margin-bottom: 32px;
}

   .button-inner {
    background-color: rgb(40, 40, 115);
    color: rgb(245, 160, 20);
  }

  .button-md-primary {
    background-color: rgb(40, 40, 115);
  }
  .button-md {
    background-color: rgb(40, 40, 115);
  }

  .button-md:hover {
    background-color: rgb(40, 40, 115);
  }

  .button-md:hover:not(.disable-hover) {
    background-color: rgb(40, 40, 115);
  }

}




