page-applicant-detail {
  ion-content {
    h4 {
      padding-left: 12px;

      &.padding-top {
        padding-top: 24px;
      }
    }

    .text-input[disabled] {
      color: #333;
      opacity: 1;
    }
  }

  .card-header {
    font-weight: bold;
  }

  .video-charts {
    h5 {
      display: block;
      font-weight:bold;
    }
  }
}
