page-applicant-detail {
  ion-content {
    background-image: url("../assets/imgs/SIALAST.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    h4 {
      padding-left: 12px;

      &.padding-top {
        padding-top: 24px;
      }
    }

    .text-input[disabled] {
      color: #333;
      opacity: 1;
    }
  }

  .card-header {
    font-weight: bold;
  }

  .video-charts {
    h5 {
      display: block;
      font-weight: bold;
    }

    //video-chart, h5 {
    padding-left: 16px;
    //}
  }

  .user-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-size: cover;
    background-position: center;
    display: inline-block;
  }

}

